ul{
    list-style-type: none;
}

.li-styled{
    color:gray;
    padding-left: 5px;
}
.div-shadow:nth-child(odd){
    box-shadow: 0px 0px 10px #a8b0a3;
}
.div-shadow{
    width:5em;
    height: 2em;
    margin: 0 1em 1em 0;
    transition: all 100ms ease-in-out;
}
.div-shadow:hover{
    transform: scale(1.2);
}


.collapsed{
    display: none;
}
.expanded{
    display: block;
}
